<div class="container-fluid bg-castanho py-2">
    <div class="row align-items-center">
        <div class="col-2 pe-0">
            <i class="bi bi-geo-alt fs-3 text-dourado"></i>
        </div>

        <div class="col-10 ps-0">
            <span class="fw-normal text-dourado fs-8">Localização atual</span>
            <br />
            <span class="fw-bold text-dourado fs-9">Rua Antônio Redigolo, 15</span>
            <span class="fw-bold text-white fs-9"><i class="bi bi-caret-down-fill"></i></span>
        </div>
    </div>
</div>


@code {

}
