<div class="container-fluid bg-castanho fixed-bottom rounded-top">
    <div class="row align-items-center">
        <div class="col-4 py-1 text-center">
            <div>
                <i class="bi bi-house text-dourado fs-4 fw-bold"></i>
            </div>
            <div class="nav-div">
                <small class="text-dourado fw-bold">Home</small>
            </div>
        </div>
        <div class="col-4 py-1 text-center">
            <div>
                <i class="bi bi-card-list text-dourado fs-4 fw-bold"></i>
            </div>
            <div class="nav-div">
                <small class="text-dourado fw-bold">Produtos</small>
            </div>
        </div>
        <div class="col-4 py-1 text-center">
            <div>
                <i class="bi bi-person text-dourado fs-4 fw-bold"></i>
            </div>
            <div class="nav-div">
                <small class="text-dourado fw-bold">Meu Perfil</small>
            </div>
        </div>
    </div>
</div>


@code {

}
